<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="{%static 'css/Main_Page1.css' %}">
    <style>
img {
  height:500px;
  width:500px;
  float:right;
}
</style>
</head>
<body>
<script>
function light(sw) {
  var pic;
  if (sw == 0) {
    pic = "{%static 'images/apple.jpg' %}"
  }
  else if (sw == 1) {
    pic = "{%static 'images/chicken.jpg' %}"
  }
  else  {
    pic = "{%static 'images/logistic.jpeg' %}"
  }
  document.getElementById('myImage').src = pic;
}
</script>
    <img id="myImage" src="{%static 'images/graph.png' %}">
<p>
<h3>Click here to check apple</h3>
<button class="button button1" type="button" onclick="light(0)">APPLE</button><br>
<h3>Click here to check the chicken</h3>
<button class="button button1" type="button" onclick="light(1)">CHICKEN</button><br>
<h3>Click here to check the logistic graph</h3>
<button class="button button1" type="button" onclick="light(2)">LOGISTIC</button><br>
</p>


</body>

</html>